[submodule "fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
